RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !manager
RewriteRule ^(.*)$ index.php [L]

RewriteRule ^manager(.*)$ _manager.php [L]
